header {
    background-image: url(Imagenes/fondo.jfif);
    height: 900px;
    display: block;
}
.titulo {
    padding: 300px 200px;
    text-align: center ;
}
.lista1{
    display: flex;
    justify-content: space-around;
}
li {
    list-style: none;

}


main {
    background-image: url(Imagenes/fondo.1.jfif);
    
}

.carta {
    margin-left: 2rem;
}

.image-tarjeta {
    margin-left: 1rem;
}

.botone {
    margin-left: 4.5rem;
}